// Colors

$black: #000;
$white: #fff;


// Neutrals

$Neutral5: #E6E6E6;
$Neutral10: #CCCCCC;
$Neutral20: #B2B2B2;
$Neutral30: #999999;
$Neutral40: #808080;
$Neutral50: #686868;
$Neutral60: #555555;
$Neutral70: #4C4C4C;
$Neutral80: #404040;
$Neutral90: #333333;
$Neutral100: #262626;
$Neutral110: #1A1A1A;
$Neutral115: #131313;


// Primary

$Primary5: #DFE9FD;
$Primary10: #BDD3FA;
$Primary20: #9DBDF8;
$Primary30: #7CA7F6;
$Primary40: #5C91F4;
$Primary50: #3D7CF2;
$Primary60: #256CF0;
$Primary70: #2160D6;
$Primary80: #1C51B4;
$Primary90: #164190;
$Primary100: #11316C;
$Primary110: #0B2148;
$Primary115: #081835;


// Positive

$Positive5: #D9EEDA;
$Positive10: #B2DCB5;
$Positive20: #8CCA90;
$Positive30: #66B96B;
$Positive40: #40A747;
$Positive50: #1C9724;
$Positive60: #008A09;
$Positive70: #007B08;
$Positive80: #006707;
$Positive90: #005305;
$Positive100: #003E04;
$Positive110: #002A03;
$Positive115: #001E02;


// Negative

$Negative5: #F4D9D9;
$Negative10: #EAB2B3;
$Negative20: #DF8C8D;
$Negative30: #D46668;
$Negative40: #CA4042;
$Negative50: #C01C1F;
$Negative60: #B80003;
$Negative70: #A40003;
$Negative80: #8A0002;
$Negative90: #6E0002;
$Negative100: #530001;
$Negative110: #380001;
$Negative115: #280001;


// Duplicate for new color styles

// $Color10: ;
// $Color20: ;
// $Color30: ;
// $Color40: ;
// $Color50: ;
// $Color60: ;
// $Color70: ;
// $Color80: ;
// $Color90: ;
// $Color100: ;
// $Color110: ;